---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import distanceIcon from '../images/distance.png'
const APIKEY = import.meta.env.APIKEY

export async function getStaticPaths() {
	const posts = await Astro.glob("../posts/*.md");

	return posts.map((post) => ({
		params: {
			slug: post.frontmatter.slug,
		},
		props: {
			post,
		},
	}));
}

const { Content, frontmatter } = Astro.props.post;

const weather = await fetch(`https://api.openweathermap.org/data/3.0/onecall?lat=${frontmatter.lat}&lon=${frontmatter.long}&units=metric&exclude=minutely,hourly,daily&appid=${APIKEY}`)


const data = await weather.json();
console.log(data)
---

<Layout>
	<section class="page-content">
		<div class="container">
			<Card>
				<a href="/routes" class="btn">Go back</a>
				<h2>{frontmatter.title}</h2>
				
				<p><img src={distanceIcon.src} class="icons"/><strong>{frontmatter.distanceK} Kilometres</strong></p>
				<p>{frontmatter.excerpt}</p>
				<h3>Weather</h3>
				<p>It's currently {data.current.temp} degrees in {frontmatter.title}</p>
				<div class="directions">
					<Content />
				</div>

				<div>
					Added on {new Date(frontmatter.date).toLocaleDateString()}
				</div>
			</Card>
		</div>
	</section>
</Layout>

<style is:global>
	li {
		margin-left: 30px;
		margin-right: 30px;
	}
	
</style>
