---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
const routeData = [
	{
		slug: "chatam",
		title:
			" Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consectetur!",
		intro:
			" Lorem ipsum, dolor sit amet consectetur adipisicing elit. At qui possimus sed odio maiores. Ea excepturi ut illum optio reprehenderit.",
		steps: {
			1: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
			2: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
			3: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
		},
	},
	{
		slug: "chatam",
		title:
			" Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consectetur!",
		intro:
			" Lorem ipsum, dolor sit amet consectetur adipisicing elit. At qui possimus sed odio maiores. Ea excepturi ut illum optio reprehenderit.",
		steps: {
			1: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
			2: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
			3: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
		},
	},
	{
		slug: "chatam",
		title:
			" Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consectetur!",
		intro:
			" Lorem ipsum, dolor sit amet consectetur adipisicing elit. At qui possimus sed odio maiores. Ea excepturi ut illum optio reprehenderit.",
		steps: {
			1: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
			2: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
			3: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis atque voluptate eveniet quos libero vitae, sunt cumque animi ab corrupti.",
		},
	},
];
---

<Layout title="Astro Blog">
	<Showcase heading="Routes database" text="Find all of our routes here" />
	<section class="page-content">
		<div class="container">
			{
				routeData.map((route) => (
					<Card>
						<h3>{route.title}</h3>
						<p>{route.intro}</p>
						<a class="btn" href={`/${route.slug}`}>
							Read more
						</a>
						<ol>
							{Object.values(route.steps).map((step, stepIndex) => (
								<li key={stepIndex}>{step}</li>
							))}
						</ol>
					</Card>
				))
			}
		</div>
	</section>
</Layout>
